body{
    height: 100%;
    background-image:url('../images/背景.png');

    background-size:100% 100%;
    background-attachment: fixed;
    background-repeat:no-repeat;

}
.clear{
    clear: both;
}

#content_left{
    width: 25%;
    height: 100%;
    float: left;
}

#content_right{

    width: 30%;

    margin-top: 5%;
    margin-right: 0;
    float: right;
}
#content_left a{

    margin-left: 50%;


    color: blanchedalmond;
    font-size: 20px;
}
#content_left a:hover {
    color: rebeccapurple;
}

#content_right span{
    font-weight: bold;
}